.nav__a {
    position: relative;
}

.nav__a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(189, 151, 224);
    transition: width 0.3s ease-in-out;
}


.nav__a:hover::after {
    width: 100%;
}

